In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [11]:
df_spark=spark.read.csv('test3.csv', header=True, inferSchema=True)

In [12]:
df_spark.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
|  Alice|Data Science| 85000|
|    Bob|         IOT| 78000|
|Charlie|    Big Data| 92000|
|  Diana|Data Science| 88000|
|  Ethan|         IOT| 76000|
|  Fiona|    Big Data| 95000|
| George|Data Science| 89000|
| Hannah|         IOT| 74000|
|    Ian|    Big Data| 97000|
|  Julia|Data Science| 91000|
|  Kevin|         IOT| 77000|
|  Laura|    Big Data| 99000|
|Michael|Data Science| 87000|
|   Nina|         IOT| 73000|
|  Oscar|    Big Data|100000|
+-------+------------+------+

In [18]:
###Group by
df_spark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
| Hannah|      74000|
|  Diana|      88000|
|Michael|      87000|
|  Ethan|      76000|
|Charlie|      92000|
|  Julia|      91000|
|    Bob|      78000|
|  Oscar|     100000|
|  Alice|      85000|
|  Kevin|      77000|
| George|      89000|
|   Nina|      73000|
|    Ian|      97000|
|  Fiona|      95000|
|  Laura|      99000|
+-------+-----------+

In [17]:
###Group by Department
df_spark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|     378000|
|    Big Data|     483000|
|Data Science|     440000|
+------------+-----------+

In [28]:
###Maximum salary
df_spark.groupBy('Name').min().show()

+-------+-----------+
|   Name|min(Salary)|
+-------+-----------+
| Hannah|      74000|
|  Diana|      88000|
|Michael|      87000|
|  Ethan|      76000|
|Charlie|      92000|
|  Julia|      91000|
|    Bob|      78000|
|  Oscar|     100000|
|  Alice|      85000|
|  Kevin|      77000|
| George|      89000|
|   Nina|      73000|
|    Ian|      97000|
|  Fiona|      95000|
|  Laura|      99000|
+-------+-----------+

In [20]:
df_spark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    5|
|    Big Data|    5|
|Data Science|    5|
+------------+-----+

In [21]:
df_spark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|    75600.0|
|    Big Data|    96600.0|
|Data Science|    88000.0|
+------------+-----------+

In [37]:
df_spark.groupBy('Departments').avg('Salary').show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|    75600.0|
|    Big Data|    96600.0|
|Data Science|    88000.0|
+------------+-----------+

In [38]:
df_spark.agg({"Salary": "avg"}).show()

+-----------+
|sum(Salary)|
+-----------+
|    1301000|
+-----------+